body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}

a {
  color: #434455;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

.section-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.card-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.card-content {
  line-height: 1.5;
}

button {
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.logo span {
  color: #4d5ae5;
}
