.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  display: flex;
}

.left {
  max-width: 264px;
  margin-right: 120px;
}

.footer .logo {
  color: #f4f4fd;
  margin-bottom: 16px;
}

.footer-text {
  line-height: 1.5;
}

.footer-socials-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.footer .social-list {
  gap: 16px;
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #31d0aa;
}
