.portfolio .section-title {
  margin-bottom: 72px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.project-card {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover {
  box-shadow:
    0px 2px 1px 0px #2e2f4214,
    0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}

.project-card:hover .portfolio-media-text {
  top: 0;
}

.portfolio .card-content {
  border-style: solid;
  border-color: #e7e9fc;
  border-width: 0 1px 1px 1px;
}

.portfolio .card-title,
.portfolio .card-paragraph {
  text-align: left;
}

.portfolio-media {
  position: relative;
  overflow: hidden;
}

.portfolio-media-text {
  position: absolute;
  padding: 40px 32px;
  height: 100%;
  top: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  line-height: 24px;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
